<div class="row">
  <div class="col-sm-3">
    <input type="text" id="template1" name="template1" value="自己的" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="國家" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template2" name="template2" value="自己" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="救" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="退回水母@水母，還我母乳" placeholder="請輸入文字" class="form-control">
  </div>
</div>
