<div class="row">
  <div class="col-sm-3">
    <input type="text" id="template1" name="template1" value="地方的" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="酸民" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template2" name="template2" value="需要" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="偉忠" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="懇請支持：中國隊長 -- 汁男炳忠哥" placeholder="請輸入文字" class="form-control">
  </div>
</div>
