<div class="row">
  <div class="col-sm-3">
    <input type="text" id="template1" name="template1" value="我是" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="人 @核 " class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template2" name="template2" value="我反" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="核" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="核電歸零，終結核電" placeholder="請輸入文字" class="form-control">
  </div>
</div>
