<div class="row">
  <div class="col-sm-3">
    <input type="text" id="template1" name="template1" value="退回" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="馬桶＠馬桶" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template2" name="template2" value="捍衛" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="民主" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="反對國家暴力，捍衛民主人權！" placeholder="請輸入文字" class="form-control">
  </div>
</div>
