<div class="row">
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="@馬桶馬桶" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template1" name="template1" value="只會抱怨" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-6">
    <input type="text" id="verb" name="verb" value="大環境" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <input type="text" id="template2" name="template2" value="把失敗歸諸" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-6">
    <input type="text" id="other" name="other" value="扁扁八年" placeholder="請輸入文字" class="form-control">
  </div>
</div>
