<div class="row">
  <div class="col-sm-3">
    <input type="text" id="template1" name="template1" value="超越" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="憲法" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template2" name="template2" value="的" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="男人@愛心" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="你們小孬孬跑去哪裡？" placeholder="請輸入文字" class="form-control">
  </div>
</div>
