<div class="row">
  <div class="col-sm-1">
    <input type="text" id="template1" name="template1" value="當" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="獨裁" class="form-control">
  </div>
  <div class="col-sm-2">
    <input type="text" id="template2" name="template2" value="成為事實" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="革命" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template3" name="template3" value="就是義務" class="form-control readonly" readonly="readonly">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="When Dictatorship is a Fact, Revolution is a Duty" placeholder="請輸入文字" class="form-control">
  </div>
</div>
