<div class="row">
  <div class="col-sm-3">
    <input type="text" id="template1" name="template1" value="我是" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="鄭南榕" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template2" name="template2" value=" 我主張" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="台灣獨立" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="-- 鄭南榕(1947-1989)" placeholder="請輸入文字" class="form-control">
  </div>
</div>
