<div class="row">
  <div class="col-sm-2">
    <input type="text" id="template1" name="template1" value="我把" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="something" name="something" value="你們" class="form-control">
  </div>
  <div class="col-sm-1">
    <input type="text" id="template2" name="template2" value="當" class="form-control readonly" readonly="readonly">
  </div>
  <div class="col-sm-3">
    <input type="text" id="verb" name="verb" value="人" class="form-control">
  </div>
  <div class="col-sm-3">
    <input type="text" id="template3" name="template3" value="看" class="form-control readonly" readonly="readonly">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="text" id="other" name="other" value="我要好好把你們教育" placeholder="請輸入文字" class="form-control">
  </div>
</div>
